<a href="https://colab.research.google.com/github/IsabelZH123/PythonProjects/blob/main/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
nameList = ['Isabel', 'Sara', 'James', 'Vencent', 'Mary']

## 2.	Print out those variables by using a for loop

In [3]:
nameList = ['Isabel', 'Sara', 'James', 'Vencent', 'Mary']
for name in nameList:
  print(name)

Isabel
Sara
James
Vencent
Mary

## 3.	Modify your for loop to add a message to your for loop.

In [4]:
nameList = ['Isabel', 'Sara', 'James', 'Vencent', 'Mary']
for name in nameList:
  print("The name is " + name)

The name is Isabel
The name is Sara
The name is James
The name is Vencent
The name is Mary

## 4.	Use a for loop to print even numbers from 1-20.

In [6]:
for evenNum in range(2,21,2):
    print(evenNum)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [8]:
letterlist = ['jkk', 'shyh', 'agthy', 'shtfva', 'shydn', 'uysr', 'bust']
letterlist.sort();
print(letterlist)

['agthy', 'bust', 'jkk', 'shtfva', 'shydn', 'shyh', 'uysr']

## 6.	Print out the first three elements of your list.

In [11]:
letterlist = ['jkk', 'shyh', 'agthy', 'shtfva', 'shydn', 'uysr', 'bust']
print(letterlist[0:3])

['jkk', 'shyh', 'agthy']

## 7.	Create a loop to print the last 2 elements of your list.

In [12]:
letterlist = ['jkk', 'shyh', 'agthy', 'shtfva', 'shydn', 'uysr', 'bust']
for x in letterlist[-2: ]:
  print(x)

uysr
bust